@font-face {
  font-family: 'MyCustomFont';
  src: url('../fonts/KnightWarrior-w16n8.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Now apply the font */
body,
#grid,
#sprite,
.winner p {
  font-family: 'MyCustomFont', sans-serif;
}
body {
  background-image: url('../images/pastel-sky-background-3garh8rnc14jym78-151761127.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#grid {
  margin: auto;
  padding: 0;
  border: 0;
  position: relative;
}
#grid div {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.wall {
  background-image: url('../images/wall.jpg');
}
.path {
  background-image: url('../images/grass.gif');
}
.block {
  background-image: url('../images/block.jpg');
}
#sprite {
  width: 30px;
  height: 30px;
  position: absolute;
}
.bomb {
  position: absolute;
  width: 40px;
  height: 25px;
  display: none;
  /* z-index: -1; */
}
.collision {
  position: absolute;
  width: 35px;
  height: 40px;
  display: none;
}
#game-over {
  position: absolute;
  top: 0;
  width: 800px;
  height: 600px;
  background-color: aqua;
  color: blueviolet;
}
.unique {
  background-color: aqua;
}
.gift-extra-life {
  background-color: black;
}
.extra-bomb {
  width: 80%;
  height: 80%;
}
.gift-time {
  background-color: navy;
}
.extra-life {
  width: 100%;
  height: 100%;
}
#page-gameover {
  position: relative;
}
#page-gameover img {
  width: 100%;
  height: 100%;
}
#page-gameover button {
  position: absolute;
  top: 40%;
  left: 40%;
  border: none;
  background: navy;
  height: 50px;
  width: 240px;
  border-radius: 8px;
  color: beige;
  font-weight: 700;
  cursor: pointer;
}
.life-time {
  position: absolute;
  top: 60px;
}
.life-number {
  position: absolute;
  top: 70px;
}
.player-assets {
  position: absolute;
  top: 120px;
}
.bomb-number {
  position: absolute;
  top: 110px;
}
.winner {
  position: absolute;
  top: 0;
  left: 34%;
}
.winner p {
  background-color: wheat;
  color: blueviolet;
  text-align: center;
}
.level-up {
  position: absolute;

  top: 0;
  left: 14%;
}
.level-up p {
  background-color: wheat;
  color: blueviolet;
  text-align: center;
}
.level-up img {
  width: 100%;
}
.enemy {
  width: 30px;
}
