#grid {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}
#grid div {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.wall {
  background-color: red;
}
.path {
  background-color: green;
}
.block {
  background-color: gray;
}
#sprite {
  width: 30px;
  height: 30px;
  position: absolute;
}
.bomb {
  position: absolute;
  width: 30px;
  height: 25px;
  display: none;
  /* z-index: -1; */
}
.collision {
  position: absolute;
  width: 35px;
  height: 30px;
  display: none;
}
#game-over {
  position: absolute;
  top: 0;
  width: 800px;
  height: 600px;
  background-color: aqua;
  color: blueviolet;
}
