#grid {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}
#grid div {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.bomb {
  position: absolute;
  width: 30px;
  height: 25px;
  display: none;
  /* z-index: -1; */
}
.collision {
  position: absolute;
  width: 35px;
  height: 30px;
  display: none;
}
